{% block body %}
    <div>
        <p>Name: {{ planet.name }}</p>
        <p>Interesting fact: {{ planet.interesting_fact }}</p>
        <p>Nr from sun: {{ planet.nr_from_sun }}</p>
    </div>
    <div style="padding: 10px;" />
{% endblock %}
